.darksite-notice {
	position: fixed;
	background: #FFF;
	color: #333;
	margin-bottom: 2rem;
	margin-top: 0;

	z-index: 99999;
	left: 0; right: 0;

	background: #fdfdfd;
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 0px 0px #f7b70b;

	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.darksite-notice-container {
	max-width: 1286px;
	margin: 0 auto;
	display: flex;
	padding: 30px 50px 30px 20px;
}

.darksite-notice-content {
	font-size: 18px;
	line-height: 1.5;
}

.darksite-notice-image {
	display: block;
	margin-right: 30px;
}

.darksite-notice-image img {
	max-width: 90px;
	max-height: 100px;
}

.darksite-notice-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    color: #fff;
    font-size: 26px;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    border-radius: 0.3em;
    background: none;
}

.darksite-notice-button span {
	display: block;
	font-size: 26px;
	transform: rotate(45deg);
	color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 26px;
    height: 26px;
}

.darksite-notice-button:hover,
.darksite-notice-button:focus{
	background: none;
	outline: none;
}

.darksite-notice-active {
	padding-top: 0;
}